.overallContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

.container {
    display: flex;
    flex: 1;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.createPosterButton {
    width: 280px;
    height: 340px;
    /* background-image: url('src/assets/createPoster.png'); */
    /* background-image: url('src/assets/new.png'); */
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, opacity 0.3s ease;
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
    }

    100% {
        transform: scale(1);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    }
}


.createPosterButton:hover {
    transform: scale(1.1);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
}

.createPosterButton:active {
    transform: scale(0.95);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
}

@media (min-width: 300px) and (max-width: 540px) {
    .container {
        height: 80vh;
    }

    .createPosterButton {
        width: 180px;
        height: 220px;
    }
}