/* @import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap'); */
@import url('https://fonts.cdnfonts.com/css/led-dot-matrix');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
  --primary-color: #000;
  --text-color:#fff;
  --bg-color-1: #fff;
  --nav-bar-bg-primary: #fff;
  --nav-bar-bg-seconary:#87CEEB;
  --nav-bar-bg:linear-gradient(135deg, var(--nav-bar-bg-primary), var(--nav-bar-bg-seconary));
  /* --bg-color-2: #b8b8b8; */
  /* background: linear-gradient(180deg, var(--bg-color-1), var(--bg-color-2));  */
  background: var(--bg-color-1);
  --menu-item-active-color:#87CEEB;

  overflow-x: hidden;
  overflow-y: auto;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: #fff; 
}

*::-webkit-scrollbar-thumb {
  background-color: var(--menu-item-active-color); 
  border-radius: 5px; 
  border: 1px solid var(--menu-item-active-color); 
}